.accessories{ 
  position:absolute;
  width: auto;
  min-width: 600px;
  left:25%;
  top: 10%;
  height: auto;
  background-color:white;
  box-shadow: 0 0 10px black;
  border-radius: 15px;
  padding: 45px;
  font-weight: bolder;
  grid-template-rows: 1fr 1fr 1fr;
  }
  .formbox {
    padding: 30px;
    width: 400px;
    background-color: white;
    box-shadow: 0 0 10px lightblue;

  }
  
  .inputbox {
    margin-bottom: 15px;
  }
  
  .formdesign input[type="text"],
  .formdesign input[type="password"],
  .formdesign input[type="email"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  .success {
    color:green;
    text-align: center;
    margin-bottom: 10px;
  }
  .error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
  }
  .formerr{
    color: red;
    text-align: center;
    margin-bottom: 10px;
  }
  .btn {
    width: 300px;
    position: relative;
    left: 25%;
    text-align: center;
    margin-top: 20px;
    margin-left: 40px;
  }
  .btn input[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  h2{
    text-align: center;
    color: 10px;
  }
